
<div class="slider">

    <div id="one">
        <img src="/images/j.image.webp" width="99.5%">
    </div>
 </div>

 <div class="products femaleproducts">

    <div id="productbox1">
       <img src="/images/blue.webp"  width="450px" height="541px">
       <div style="position: relative;">Unstitched
        <div style="position: absolute;  left: -20px;"><a href="##">Shop Now</a></div>
       </div>
      

    </div>

    <div id="productbox2">

        <div id="item1">
            <img src="/images/pink.webp" width="200px">
            <div style="position: relative;">Kurti
                <div style="position: absolute;  left: -20px;"><a href="##">Shop Now</a></div>
               </div>
        </div>

        
    <div id="item2">
        <img src="/images/yellow.webp" width= "200px">
        <div style="position: relative;">Unstitched
            <div style="position: absolute;  left: -20px;"><a href="##">Shop Now</a></div>
           </div>

    </div>
       
    </div>


 </div>



 
 <div class="products maleproducts">

    <div id="productbox3">

        <div id="maleitem1">
            <img src="/images/male1.webp" width="200px">
            <div style="position: relative;">Kurta
                <div style="position: absolute;  left: -20px;"><a href="##">Shop Now</a></div>
               </div>
        </div>

        
    <div id="maleitem2">
        <img src="/images/male2.webp" width= "200px">
        <div style="position: relative;">Waistcoat
            <div style="position: absolute;  left: -20px;"><a href="##">Shop Now</a></div>
           </div>

    </div>
       
    </div>

    <div id="productbox4">
       <img src="/images/male3.webp"  width="450px" height="541px">
       <div style="position: relative;">Kameez Shalwar
        <div style="position: absolute;  left: -20px;"><a href="##">Shop Now</a></div>
       </div>
      

    </div>

 </div>

 <div class="parentdiv">
    <div class="Myclass banner3">
        <div>
            <img src="/images/banner03.webp" width="720px">
        </div>
    
     </div>
 </div>


<div class="parentdiv">

    <div class="Myclass Makeupproducts" >

        <div>
            <img src="/images/makeup_28.webp" width="720px">
        </div>
    
     </div>

</div>




<div class="textdiv">

   <span>New Arrivals</span> 
   <h3>Boys & Girls</h3>

</div>

<div class="boysgirlsCollection">

    <div style="margin-right: 15px;">
        <img src="/images/hotpink.webp" width="300px" > 
    </div>

    <div class="kidscollection">

        <div class="kidsdiv">

            <div>
                <img src="/images/boy1.webp" width="150px"> 
            </div>

            <div>
                <img src="/images/litttlegirl.webp"  width="150px">
            </div>

            <div>
                <img src="/images/kid boy.webp" width="150px"> 
            </div>

        </div>

        <div class="kidstextdiv">
            
          
                <p> <strong>Collection</strong> </p>
            
          
       
                <p> Dress bright and lively</p>
           
         
       
            <p> <strong>With J. Youngsters Collection</strong></p>
         
      
          
        </div>

    </div>


</div>


