<div id="header">

    <div id="topbar">
        <p><strong>WELCOME TO J.</strong></p>

        <img src="/images/pak-flag.webp" width="20px" id="pak-flag" />

      

        <a href="###" class="link">TRACKING INFO</a>
        <a href="##" class="link">CORPORATE INQUIRY</a>



        
        <a href="/products">VIEW PRODUCTS</a>

        <a href="/admin/dashboard">ADMIN</a>
        <a href="/homePage">Home</a>


        <a href="/cart/cartview">
            <img src="/images/jcart.png" width="30px" id="cart">
        </a>

        <a href="/wishlistview">
           Wishlist
        </a>
        
        <a href="##">
            <div id="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Search</p>
            </div>
        </a>

    </div>

    <div id="logo" style="margin-top: 80px; margin-bottom: 10px;">
        <img src="/images/new_logo.webp" width="35px">
    </div>
    

    <!-- <----menue of the website --->

    <div class="container" style="background-color: white;">

        <nav class="navbar">

            <ul>
                <li><a href="##">new arrivals</a>

                    <div class="megamenue">


                        <div class="innermegamenue">
                            <a href="##" style="text-decoration: underline; color: red;"> <strong>Featured
                                    Collection</strong></a>
                            <br>
                            <a href="##">Baharain - Women Unstitched</a>
                            <a href="##">Expression Series - All Ages of Him</a>
                            <a href="##">Matching Separates</a>
                        </div>

                        <div class="innermegamenue">
                            <a href="##" style="text-decoration: underline;"><strong>Midsummer Collection
                                    '24</strong></a>
                            <br>
                            <a href="##">Unstitched Collection</a>
                            <a href="##">Stitched Collection</a>
                            <a href="##">Kurti Collection</a>
                            <a href="##">Trousers Collection</a>
                            <a href="##">Teen Girls Collection</a>
                            <a href="##">Kid Girls Collection</a>
                        </div>

                        <div class="innermegamenue">
                            <a href="##" style="text-decoration: underline;">
                                <strong>MEN - Midsummer '24</strong>
                            </a>

                            <br>
                            <a href="##">Kameez Shalwar Collection</a>
                            <a href="##">Kurta Collection</a>
                            <a href="##">Waistcoat Collection</a>
                            <a href="##">Unstitched Collection</a>
                        </div>

                        <div class="innermegamenue">
                            <a href="##" style="text-decoration: underline;">
                                <strong>BOYS & GIRLS - TEHWAR EID EDIT</strong>
                            </a>

                            <br>
                            <a href="##">Teen Girls Collection</a>
                            <a href="##">Teen Boys Collection</a>
                            <a href="##">Kid Girls Collection</a>
                            <a href="##">Kid Boys Collection</a>
                            <a href="##">Infant Girls Collection</a>
                            <a href="##">Infant Boys Collection</a>
                        </div>

                        <div class="innermegamenue">
                            <img src="/images/midsummernewarrival.webp">
                        </div>

                    </div>

                </li>
                <li><img src="/images/cast and crew.webp" width="142px"></li>
                <li><a href="##">WOMEN</a></li>
                <li><a href="##">MEN</a></li>
                <li><a href="##">BOYS AND GIRLS</a></li>
                <li><a href="##">fragrances</a></li>
                <li><a href="##">Makeup</a></li>
                <li><a href="##">CATALOGUE</a></li>


                <li id="sale">
                    <a href="##">SALE</a>

    
                </li>
            </ul>
        </nav>
    </div>
</div>